.gpt3-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.gpt3-navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3-logo {
    margin-right: 2rem;

}


.gpt3-logo img {
    width: 62.56px;
    height: 10.02px;
}

.links-container {
    display: flex;
}

.gpt3-navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container p, .gpt3-navbar-sign p, .menu-container p {
    color:#FFF;
    font-family:var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

